[submodule "idl"]
	path = idl
	url = https://gitlab.flux.utah.edu/xcap/lcds-idl.git
	shallow = true
[submodule "linux"]
	path = linux
	url = https://github.com/mars-research/lvd-linux/
	shallow = true
[submodule "pdg"]
	path = pdg
	url = https://github.com/ARISTODE/program-dependence-graph
[submodule "bc-files"]
	path = bc-files
	url = https://gitlab.flux.utah.edu/xcap/bc-files.git
